body{
    background:#eee;
  }
  
  h1{
    text-align:center;
    margin-bottom:19px;
  }
  
  p.info{
    text-align:center;
    width:400px;
    margin:0 auto;
    font-size:12px;
    font-weight:bold;
    color:#666;
    margin-bottom:20px;
  }
  
  #game-base{
    width:800px;  
    margin:0 auto;
    padding-top:60px;
  }
  
  #game-table{
    width:800px;
    height:800px;
    margin:0 auto;
    background: transparent 0 0 norepeat;
    position:relative;
  }
  
  .disc{
    position:absolute;
    z-index:-1;
    top:-55px;
    left:12px;
    width:60px;
    height:60px;
    border-radius:40px;
    transition: all .2s;
  }
  
  .disc.red{
    background: url(assets/SmileHead2.png);
    border: solid;
    border-width: 1px;
    background-repeat: no-repeat;
  
  }
  
  .disc.yellow{
    background: url(assets/KimKHead.png);
    background-repeat: no-repeat;
  }

  #mycanvas{
    justify-content: center;
    width:800px;
     height:800px;
  }

  .playImage{
    align-items: baseline;
  }

  